[submodule "front"]
	path = front
	url = https://github.com/nto300002/front
[submodule "back"]
	path = back
	url = https://github.com/nto300002/back
[submodule "front_ui"]
	path = front_ui
	url = https://github.com/nto300002/front

